asgiref==3.2.7
attrs==19.3.0
autobahn @ file:///home/conda/feedstock_root/build_artifacts/autobahn_1591880184842/work
Automat==20.2.0
bcrypt==3.1.7
certifi==2022.12.7
cffi==1.14.0
channels==2.4.0
click==7.1.1
constantly==15.1.0
cryptography==2.9.2
Cython==0.29.16
daphne==2.5.0
dash==1.10.0
dash-core-components==1.9.0
dash-html-components==1.0.3
dash-renderer==1.3.0
dash-table==4.6.2
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1591280207983/work
django-bulma==0.7.1
django-plotly-dash==1.1.5
dpd-components==0.1.0
Flask==1.1.2
Flask-Compress==1.4.0
future==0.18.2
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
plotly==4.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pytz==2020.1
retrying==1.3.3
service-identity==18.1.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sqlparse==0.3.1
Twisted==20.3.0
txaio==20.3.1
Werkzeug==1.0.1
zope.interface==5.1.0
